In [12]:
import config
import ccxt
import pandas as pd

In [14]:
exchange = {
        'apiKey': config.KRAKEN_API_KEY,
        'secret': config.KRAKEN_PRIVATE_KEY,
        'enableRateLimit': True
    }
exchange = ccxt.kraken(exchange)

try:
    ohlcv = exchange.fetch_ohlcv(symbol='XRP/USD', timeframe='1d')
except ccxt.BaseError as error:
    print(f"Error Fetching OHLCV: {error}")

df = pd.DataFrame(ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
df.set_index('timestamp', inplace=True)

In [15]:
df.head()

               open     high      low    close        volume
timestamp
2023-06-12  0.52055  0.52795  0.50903  0.52527  6.905383e+06
2023-06-13  0.52565  0.56500  0.50482  0.51926  2.329772e+07
2023-06-14  0.51912  0.52019  0.46141  0.47998  1.316981e+07
2023-06-15  0.48000  0.48511  0.46761  0.47994  7.485971e+06
2023-06-16  0.47970  0.48262  0.45500  0.47549  9.882194e+06